altgraph==0.17.4
asgiref==3.8.1
babel==2.17.0
bcrypt==4.3.0
cabarchive==0.2.4
certifi==2025.6.15
charset-normalizer==3.4.2
customtkinter==5.2.2
cx_Freeze==8.3.0
cx_Logging==3.2.1
darkdetect==0.8.0
defusedxml==0.7.1
Django==5.2.1
et_xmlfile==2.0.0
filelock==3.18.0
fpdf==1.7.2
idna==3.10
lief==0.16.5
mysql-connector-python==9.4.0
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pefile==2023.2.7
pillow==11.2.1
pyasn1==0.6.1
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMySQL==1.1.1
pyodbc==5.2.0
PySimpleGUI==5.0.10
python-barcode==0.15.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
requests==2.32.4
rsa==4.9.1
setuptools==80.4.0
six==1.17.0
snakeviz==2.2.2
sqlparse==0.5.3
striprtf==0.0.29
tkcalendar==1.6.1
tornado==6.5.2
tzdata==2025.2
urllib3==2.5.0
