<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel de Producción{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .nav-item .nav-link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
        .nav-item .nav-link i {
            font-size: 1.1rem;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/excel/"><i class="bi bi-gear-fill"></i> Producción</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/excel/homs/"><i class="bi bi-table"></i> Manifiestos</a></li>
        <li class="nav-item"><a class="nav-link" href="/excel/pdf-batch/"><i class="bi bi-files"></i>PDFs X Lote</a></li>
        <li class="nav-item"><a class="nav-link" href="/production/"><i class="bi bi-table"></i> Planillas de Producción</a></li>
        <li class="nav-item"><a class="nav-link" href="/calculadora/"><i class="bi bi-shield-lock-fill"></i> PDTES</a></li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
