{% extends 'excel_processor/base.html' %}
{% block title %}Inicio - Panel de Producción{% endblock %}
{% block content %}
<h1>👞 Panel de Producción</h1>
<p>🎉Bienvenido al sistema de gestión de producción.</p>
<ul>
    <a class="btn btn-primary" href="/production/" role="button">📋 Planillas de Producción</a>
    <a class="btn btn-primary" href="/calculadora/" role="button">📊 Calculadora de Pendientes</a>
    <a class="btn btn-primary" href="/excel/homs/" role="button">📑 Manifiestos</a>
    <a class="btn btn-primary" href="/excel/pdf-batch/" role="button">📂 PDFs X Lote</a>
</ul>
{% endblock %}
