{% extends 'excel_processor/base.html' %}
{% block title %}Inicio - Panel de Producción{% endblock %}
{% block content %}
<h1>Panel de Producción</h1>
<p>Bienvenido al sistema de gestión de planillas de producción.</p>
<ul>
    <a class="btn btn-primary" href="/excel/upload" role="button"><i class="bi bi-upload"></i>Subir Excel</a>
    <a class="btn btn-primary" href="/excel/historico" role="button">Historico De Registros</a>
    <a class="btn btn-primary" href="/excel/pdfs" role="button">Ver Pdf</a>
</ul>
{% endblock %}
