{% extends 'excel_processor/base.html' %}
{% block title %}Inicio - Panel de Producción{% endblock %}
{% block content %}
<h1>Panel de Producción</h1>
<p>Bienvenido al sistema de gestión de planillas de producción.</p>
<ul>
    <a class="btn btn-info" href="/excel/upload" role="button">Subir Excel</a>
    <li><a href="/excel/upload/">Subir nuevo archivo Excel</a></li>
    <li><a href="/excel/historico/">Ver histórico de registros</a></li>
    <li><a href="/excel/pdfs/">Ver Pdf</a></li>
</ul>
{% endblock %}
