{% extends 'excel_processor/base.html' %}
{% block title %}Gestion De Manifiestos{% endblock %}
{% block content %}
<h1>📑 Panel de Gestion De Manifiestos</h1>
<p>🎉Bienvenido al sistema de gestión de Manifiestos.</p>
<ul>
    <a class="btn btn-primary" href="/excel/upload/" role="button">✅ Subir Excel</a>
    <a class="btn btn-primary" href="/excel/historico/" role="button">📖 Historico De Registros</a>
    <a class="btn btn-primary" href="/excel/pdfs/" role="button">👁️‍🗨️ Ver Pdf</a>
</ul>
{% endblock %}
